record(compress, "$(P):$(R):WATCHER") {
    field(INP, "$(P):$(R).VAL CP")
    field(NSAM, "1000")
    field(ALG, "Circular Buffer")
    field(FLNK, "$(P):$(R):ALARM")
}
record(calc, "$(P):$(R):ALARM") {
    field(INPA, "$(P):$(R):WATCHER NPP")
    field(CALC, "A[0]==A[999]")
    field(HIHI, "1")
}
