record(ai,  "$(P):$(R)") {
    field(DTYP, "asynInt32")
    field(DESC, "$(DESC)")
    field(EGU,  "$(EGU="")")
    field(PINI, "$(PINI=YES)")
    field(SCAN, "$(SCAN)")
    field(LINR, "$(LINR=NO CONVERSION)")
    field(EGUL, "$(EGUL=0)")
    field(EGUF, "$(EGUF=1)")
    field(PREC, "$(PREC=0)")
    field(ESLO, "$(ESLO=1)")
    field(EOFF, "$(EOFF=0)")
    field(INP,  "@asyn($(PORT),$(ADDR=0))$(PARAM)")
}
